SECRET_KEY=123456
YANDEX_MAPS_API_KEY=bdd1e2cd-a14a-43ae-ad5b-c6322d3eca96
SOCIAL_AUTH_VK_OAUTH2_KEY =51918658
SOCIAL_AUTH_VK_OAUTH2_SECRET=gmVVaDq0uYnq36PFIcDm
DB_ENGINE=django.db.backends.postgresql
DB_NAME=postgres
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
DB_HOST=db
DB_PORT=5432
